<div class="container">
    <h1>Edit Account</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFullName">Full Name:</label>

            <div class="controls">
                <input type="text" id="inputFullName" ng-model="Account.fullName" placeholder="FullName"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputUsername">User Name:</label>

            <div class="controls">
                <input type="text" id="inputUsername" ng-model="Account.userName" placeholder="UserName"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email Address:</label>

            <div class="controls">
                <input type="text" id="inputEmail" ng-model="Account.emailAddress" placeholder="Email"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputAddress">Address:</label>

            <div class="controls">
                <input type="text" id="inputAddress" ng-model="Account.address" placeholder="Address"/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="updateAccount()" class="btn btn-small btn-primary">Save</a>
            </div>
        </div>
    </form>
</div>