<div class="container">
    <h1>Reminder detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputDescription">Description:</label>

            <div class="controls">
                <input type="text" id="inputDescription" ng-model="Reminder.description"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputType">Type:</label>

            <div class="controls">
                <input type="text" id="inputType" ng-model="Reminder.type"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="reminderCancel()" class="btn btn-small">cancel</a>
                <a ng-click="updateReminder()" class="btn btn-small btn-primary">update reminder</a>
            </div>
        </div>
    </form>
</div>
